<form #f="ngForm" (ngSubmit)="login()" style="display: flex; flex-direction: column; align-items: center;">
   
    <div>
    <label>Correo  electrónico: </label>
    <input type="email" name="email" [(ngModel)]="loginDTO.email" email="true" required />
    </div>
    <br>
     <div>
    <label>Escribir Contraseña: </label>
    <input type="password" name="password" [(ngModel)]="loginDTO.password"  required/>
    </div>
    <br>
    <div>
    <label >Repetir  contraseña: </label>
    <input type="password" name="confirmaPassword" [(ngModel)]="loginDTO.confirmarPassword"  required/>
    </div>
    <br>
    <button type="submit" [disabled]="f.invalid || !sonIguales()" >Login</button>
    <p *ngIf="!sonIguales()" >Las contraseñas no coinciden</p>
</form>
