<form #f="ngForm" (ngSubmit)="registrar()">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Cédula: </label>
        <div class="col-sm-10">
        <input #cedula="ngModel"
        [ngClass]="cedula.invalid && (cedula.dirty || cedula.touched) ? 'is-invalid' : ''" type="text"
        name="cedula" class="form-control" required [(ngModel)]="registroPacienteDTO.cedula" />
        </div>
    </div>
    <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Nombre: </label>
            <div class="col-sm-10">
            <input #nombre="ngModel"
            [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''" type="text"
            name="nombre" class="form-control" required [(ngModel)]="registroPacienteDTO.nombre" />
            </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Teléfono: </label>
        <div class="col-sm-10">
        <input #telefono="ngModel"
        [ngClass]="telefono.invalid && (telefono.dirty || telefono.touched) ? 'is-invalid' : ''" type="text"
        name="telefono" class="form-control" required [(ngModel)]="registroPacienteDTO.telefono" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Foto: </label>
        <div class="col-sm-10">
        <input type="file" name="imagen" class="form-control" required
        (change)="onFileChange($event)" />
        </div>
    </div> 
    
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Ciudad: </label>
        <div class="col-sm-10">
        <select name="ciudad" required class="form-select"
        [(ngModel)]="registroPacienteDTO.ciudad">
        <option value="" selected>Seleccione una ciudad</option>
        <option [value]="item" *ngFor="let item of ciudad; index as i">{{item}}</option>
        </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Fecha de nacimiento: </label>
        <div class="col-sm-10">
        <input type="date" name="fechaNacimiento" [(ngModel)]="registroPacienteDTO.fechaNacimiento"  required/>
        </div>        
    </div> 

    
    <br>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Alergias: </label>
        <div class="col-sm-10">
        <select name="alergia" required class="form-select"
        [(ngModel)]="registroPacienteDTO.alergias">
        <option value="" selected>Seleccione una alergia</option>
        <option [value]="item" *ngFor="let item of alergia; index as i">{{item}}</option>
        </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">EPS: </label>
        <div class="col-sm-10">
        <select name="eps" required class="form-select"
        [(ngModel)]="registroPacienteDTO.eps">
        <option value="" selected>Seleccione una eps</option>
        <option [value]="item" *ngFor="let item of eps; index as i">{{item}}</option>
        </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Tipo de sangre: </label>
        <div class="col-sm-10">
        <select name="tipoSangre" required class="form-select"
        [(ngModel)]="registroPacienteDTO.tipoSangre">
        <option value="" selected>Seleccione un tipo de sangre</option>
        <option [value]="item" *ngFor="let item of tipoSangre; index as i">{{item}}</option>
        </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Correo electrónico: </label>
        <div class="col-sm-10">
        <input #email="ngModel"
        [ngClass]="email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''" type="email"
        name="email" class="form-control" required [(ngModel)]="registroPacienteDTO.email" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Contraseña: </label>
        <div class="col-sm-10">
        <input #password="ngModel"
        [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''" type="text"
        name="password" class="form-control" required [(ngModel)]="registroPacienteDTO.password" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Repetir contraseña: </label>
        <div class="col-sm-10">
        <input #confirmaPassword="ngModel"
        [ngClass]="confirmaPassword.invalid && (confirmaPassword.dirty || confirmaPassword.touched) ? 'is-invalid' : ''" type="text"
        name="confirmaPassword" class="form-control" required [(ngModel)]="registroPacienteDTO.confirmaPassword" />
        </div>
    </div>

    <div class="card">
        <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0" ><i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo
        paciente</h5>
        </div>
        <div class="card-body p-5">
        <form #f="ngForm" (ngSubmit)="registrar()">
        <!-- Todo lo que va dentro del form -->
        </form>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="f.invalid || !sonIguales()">
        <i class="fa-solid fa-circle-plus me-1"></i>Registrarse
    </button>
    <div class="alert alert-danger" role="alert" *ngIf="!sonIguales()">Las contraseñas no coinciden
    </div>
</form>