<header class="p-3 text-bg-primary">
  
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-lg-start">
    <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white
    text-decoration-none">
  
    <i class="fa-solid fa-stethoscope fs-3"></i>
    <span class="fs-4 ms-3 me-3">UQdemic EPS</span>
    </a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    
    
    <li><img src="assets/imagenes/cita.png" alt="Customers" class="d-block mx-auto mb-1" width="24" height="24"><a routerLink="/listar-citas" class="nav-link px-2 text-white">Gestión Citas</a></li>
    <li><img src="assets/imagenes/pqr.png" alt="Customers" class="d-block mx-auto mb-1" width="24" height="24"><a routerLink="/gestion-pqrs" class="nav-link px-2 text-white">Gestión PQRS</a></li>
    
  </ul>
  <ul *ngIf="roles.includes('admin')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><img src="assets/imagenes/pqr.png" alt="Customers" class="d-block mx-auto mb-1" width="24" height="24"><a routerLink="/gestion-pqrs" class="nav-link px-2 text-white">Gestión PQRS</a></li>
  </ul>
  
  <ul *ngIf="roles.includes('paciente')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><img src="assets/imagenes/paciente.png" alt="Customers" class="d-block mx-auto mb-1" width="24" height="24"><a routerLink="" class="nav-link px-2 text-white">Gestión Pacientes</a></li>
    <li><img src="assets/imagenes/pqr.png" alt="Customers" class="d-block mx-auto mb-1" width="24" height="24"><a routerLink="/gestion-pqrs" class="nav-link px-2 text-white">Gestión PQRS</a></li>
  </ul>
  
    <ul *ngIf="roles.includes('medico')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><img src="assets/imagenes/medico.png" alt="Customers" class="d-block mx-auto mb-1" width="24" height="24"><a routerLink="" class="nav-link px-2 text-white">Gestión médicos</a></li>
    </ul>

  <div *ngIf="!isLogged; then nologged else logged"></div>
   <ng-template #nologged>
  <div class="text-end">
   <button type="button" routerLink="/login" class="btn btn-outline-light
   me-2">Login</button>
   <button type="button" routerLink="/registro" class="btn btn-warning">Sign-up</button>
   </div>
   </ng-template>
   <ng-template #logged>
   <div class="text-end">
    <label class="me-3" >Hola {{email}}</label>
   <button type="button" (click)="logout()" class="btn btn-warning">Logout</button>
   </div>
  </ng-template>

    </div>
  </div>
</header>


<div class="seccion-pagina p-4">
  <div class="container">
  <router-outlet></router-outlet>
  </div>
</div>


<div class="container">
  <footer class="footer mt-auto py-3 bg-custom-color">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contacto</h5>
          <p>Powered by John Alejandro González Cárdenas</p>
          <p>Email: jagonzalezc@uqvirtual.edu.co</p>
          <p>Teléfono: 3226646612</p>          
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/registro">Registro</a></li>
            <li><a routerLink="/gestion-pqrs">Gestion PQRS</a></li>
            <li><a routerLink="/index">Home</a></li>            
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Síguenos</h5>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/people/Alejandro-Gonzalez/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="https://www.instagram.com/ingenieroalejandrogonzalez20/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>            
            <li><a href="https://github.com/jagonzalezc/" target="_blank"><i class="fab fa-instagram"></i> Github</a></li>            
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-muted">© 2023 Clínica UQdemic EPS, Universidad del Quindío. Todos los derechos reservados.</p>
    </div>
  </footer>  
</div>