/* You can add global styles to this file, and also import other style files */
.seccion-pagina {
    
    
        background-color: #e6f7ff; /* Cambia este código de color según tus preferencias */
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);

        .health-image {
            text-align: center;
          }
          
          .health-image img {
            max-width: 40%; /* Reduce el tamaño al 70% del ancho del contenedor */
            margin-bottom: 10px;
            border-radius: 10px;
          }
   
    
    
    
     }
